/**/

body{
  background-color:#B983FF;
  background-attachment:fixed;
}

h1{
  color:#99FEFF
}
p{
  color:#99FEFF
}

#button{

  text-align:center;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
  height: 3ex;
  width: 5em;
  border-radius: 10px;
  color: #94B3FD;
  background-color: #94DAFF;



}



